<!DOCTYPE html>
<html lang="en">

<head>
    <title>FLASK-TODO</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="https://fonts.googleapis.com/css?family=Rubik:400,500,700&display=swap" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ url_for('static', filename='css/checkbox.css') }}" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="container">
        <div class="todo-image-box">
            <img src="{{ url_for('static', filename='img/undraw_taking_notes.svg') }}" alt="todo-images" />
        </div>
        <div class="todo-app-box">
            <h1 class="title">My Todo</h1>



            <div class="task-item">
                <div class="md-checkbox">
                    <input id="i2" type="checkbox" checked>
                    <label for="i2" class="task-title">Deep dive more about Python</label>
                </div>
                <div class="task-detail">
                    Learn more about Flask, Django, and don't forget to always follow PEP8 style guide.
                </div>

            </div>



            <div id="task-list" class="task-list">
                <!-- render task-item programatically -->
            </div>

            <div id="box-empty" class="empty-box">
                You have no task...
            </div>

            <div id="box-input" class="input-box">
                <input id="txt-task" class="input-task" type="text" placeholder="New task" />
                <textarea id="txt-detail" class="input-detail" placeholder="Any details"></textarea>
                <div class="input-button-box">
                    <a id="btn-detail" class="details-button" href="#">Add details</a>
                    <div>
                        <a id="btn-cancel" class="cancel-button" href="#">Cancel</a>
                        <button id="btn-save" class="save-button" type="button">Save</button>
                    </div>
                </div>
            </div>

            <button id="btn-add" class="add-button" type="button">+ New Task</button>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"
            type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/service.js') }}"
            type="text/javascript"></script>
</body>

</html>